body {
  background-color: #e6d6c2;
}

.navbar {
  background-color: #dfcab0 !important; 
}

#sel-hand {
  background-color: #faf4e4;
  color: black;
}

#toggleDeletionsButton {
  background-color: #faf4e4;
  border-width: 1px;
}

.index {
  text-indent: 0px;
  font-family: 'Courier New', Courier, monospace;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

head {
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: super;
    font-size: small;
    color: grey;
  }

.lineBreak {
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.underline {
    text-decoration: underline;
}

.circled {
    border: 2px solid black; 
    border-radius: 50%;   
    font-size: 1em;
}

.pagenumber {
  display: block;
  float: right;
}

.pagetitle {
  display: block;
  margin-left: 50px;
}

.subline {
  font-size: small;
  margin-inline-start: 40px;
}

.marginText {
  font-style: italic;
  color:cadetblue;
  font-size: smaller;
}

.indent {
  text-indent: 10px ;
  display: inline-block;
}

.authorsPic1 {
  position: absolute;
  right: 20px;
  top: 80px;
}

.authorsPic2 {
  position: absolute;
  right: 290px;
  top: 80px;
}

.caption {
  margin-top: 10px;
  text-align: center;
  position: absolute;
}

.authorsPic1 + .caption {
  top: 340px; 
  right: 85px;
}

.authorsPic2 + .caption {
  top: 340px;
  right: 320px;
}

#column {
  display: block;
  width: 50%;
  float: left;
}

a {
  color: black;
  font-weight: bold;
}

