body {
  background-color: #e6d6c2;
}

h3 {
  margin-top: 50px;
}

.navbar {
  background-color: #dfcab0 !important; 
}

#sel-hand {
  background-color: #faf4e4;
  color: black;
}

#toggleDeletionsButton {
  background-color: #faf4e4;
  border-width: 1px;
}

#toggleNotesButton {
  background-color: #faf4e4;
  border-width: 1px;
}

#previousPageButton {
  background-color: #faf4e4;
  border-width: 1px;
}

#nextPageButton {
  background-color: #faf4e4;
  border-width: 1px;
}

.index {
  text-indent: 0px;
  font-family: 'Candara';
  font-size: larger;
}

.footer {
  text-indent: 0px;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  background-color: #dfcab0;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

head {
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
  display: none;
}

.mirador-canvas-nav {
  display: none !important;
}

.supraAdd {
  vertical-align: super;
  font-size: small;
  color: grey;
  }

.overwritten {
  font-style: italic;
}

.intralinear {
  font-weight: bold;
}

.infralinear {
  vertical-align: sub;
  font-size: small;
  color: grey;
}

.lineBreak {
  display:block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.underline {
  text-decoration: underline;
}


.circled {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 2px solid black;
  text-align: center;
}

.pagenumber {
  display: block;
  float: right;
}

.pagetitle {
  display: block;
  margin-left: 50px;
}

.marginText {
  font-style: italic;
  font-size: smaller;
}

.indent {
  text-indent: 10px ;
  display: inline-block;
}

.authorsPic1 {
  position: absolute;
  right: 20px;
  top: 80px;
}

.authorsPic2 {
  position: absolute;
  right: 290px;
  top: 80px;
}

.authorsPic3 {
  position: absolute;
  right: 20px;
  top: 400px;
}

.caption {
  margin-top: 10px;
  text-align: center;
  position: absolute;
}

.authorsPic1 + .caption {
  top: 340px; 
  right: 85px;
}

.authorsPic2 + .caption {
  top: 340px;
  right: 320px;
}

.authorsPic3 + .caption {
  top: 700px;
  right: 120px;
}

#column {
  display: block;
  width: 50%;
  float: left;
}

a {
  color: black;
  font-weight: bold;
}

del {
  text-decoration-color: grey;
  text-decoration-thickness: 2px;
}

add {
  font-style: italic;
}

.editorial {
  color: #57A0D3;
  font-style: italic;
  font-size: smaller;
}

.right {
  display: inline-block;
  text-align: right;
  margin-left: 200px; 
}

.no_bull {
  list-style-type: none;
}

sic {
  font-style: italic;;
}

corr {
  margin-left: 0.5em;
  color: #666;
  font-size: small;
}

corr::before {
  content: "[corr: ";
  color: #666;
  font-size: small;
}

corr::after {
  content: "]";
  color: #666;
  font-size: small;
}
